project/db-data/mongo/*
project/db-data/postgres/*
project/db-data/rabbitmq/*
project/secrets
project/caddy_config
project/caddy_data
project/commands.bkup

authApp
brokerApp
frontApp
listenerApp
loggerApp
mailerApp

*.txt
*.code-workspace
/.vscode